.about{
  text-align: left;
  padding: 20px 0 40px;

  @media only screen and (min-width : 990px) {
     text-align: left;
  }

  @media only screen and (min-width : 650px) {
     padding: 134px 0 134px;
  }

  h1.header-mobile{
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #6fa2c8;
    margin-bottom: 14px;
    display: block;

    @media only screen and (min-width : 500px) {
      font-size: 42px;
    }
    @media only screen and (min-width : 990px) {
      display: none;
    }
  }

  .content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .text {
      @media only screen and (min-width : 760px) {
        min-width: 400px;
        text-align: left;
        padding-right:42px;
        flex: 3;
      }

      @media only screen and (min-width : 990px) {
        order: 1;
      }
      h1.header-desktop{
        font-size: 3rem;
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        color: #6fa2c8;
        margin-bottom: 14px;
        display: none;

        @media only screen and (min-width : 990px) {
          display: block;
        }
      }

      .body{
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        @media only screen and (min-width : 990px) {
          text-align: left;
        }
      }

      .content-footer.meet-patrick{


        font-size: 18px;
        text-align: center;
        position: relative;
        // margin-left: 12vw;
        // margin-left: auto;
        // margin-right: auto;
        // display: inline-block;
        @media only screen and (min-width : 990px) {
          text-align: left;
        }
        &::after{
          // left: 50%;
          width: 211px;
          top: 25px;
          left: 50%;
          margin-left: -105px;

          @media only screen and (min-width : 990px) {
            left: 0;
            margin-left: 0px;
          }
        }
      }
    }

    .about-image{
      flex:1;
      margin-bottom: 14px;

      @media only screen and (min-width : 760px) {
        min-width: 417px;
        max-height: 481px;
      }

      @media only screen and (min-width : 990px) {
        order: 2;
      }
    }
  }
}
