@import "./variables.scss";

.about{
padding: 134px 0 134px;

  @include mobile{
    text-align: left;
    padding: 50px 0 40px;
  }
  @include tablet{
    text-align: left;
    padding: 50px 0 40px;
  }


  .header-mobile{
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #6fa2c8;
    margin-bottom: 14px;
    display: none;


    @include mobile {
      font-size: 34px;
      padding-bottom: 14px;
      margin-bottom: 0;
      display: block;
    }
    @include tablet {
      font-size: 34px;
      padding-bottom: 14px;
      margin-bottom: 0;
      display: block;
    }



  }

  .content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .text {
      @media only screen and (min-width : 760px) {
        min-width: 400px;
        text-align: left;
        padding-right:42px;
        flex: 3;
      }

      @media only screen and (min-width : 990px) {
        order: 1;
      }
      .header-desktop{
        font-size: 3rem;
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        color: #6fa2c8;
        margin-bottom: 14px;
        display: none;

        @media only screen and (min-width : 990px) {
          display: block;
        }
      }

      .body{
        font-size: 18px;
        text-align: left;
        line-height: 24px;
        // @media only screen and (min-width : 990px) {
        //   text-align: left;
        // }
      }

      // .content-footer.meet-patrick{
      //   font-size: 18px;
      //   text-align: center;
      //   position: relative;
      //
      //   @media only screen and (min-width : 990px) {
      //     text-align: left;
      //   }
      //
      //   &::after{
      //     width: 211px;
      //     top: 25px;
      //     left: 50%;
      //     margin-left: -105px;
      //
      //     @media only screen and (min-width : 990px) {
      //       left: 0;
      //       margin-left: 0px;
      //     }
      //   }
      // }
      // a:hover{
      //   text-decoration: none;
      // }
    }

    .about-image{
      flex:1;
      margin-bottom: 22px;

      @media only screen and (min-width : 760px) {
        min-width: 417px;
        max-height: 481px;
      }

      @media only screen and (min-width : 990px) {
        order: 2;
      }
    }
  }
}
