.call-bar{
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem 0;

  div{
    margin: 0.2rem 0;
  }


  .question{
    font-size: 1.2rem;
  }
  .action-call{
    font-family: 'Work Sans', sans-serif;

  }
  .phone-number{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.brand-bar{
  background-color: black;
  color: white;
  text-align: center;
  padding: 4rem 0;


  div{
    display: inline;
  }

  .title{
    font-size: 1.5rem;

  }
  .tagline{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;

  }

}
