html {
  // background-color: lavenderblush;
}

.placeholder{
  a{
    margin: 0;
  }
  h4{
      margin: 0;
  }

  .email{
    text-decoration: none;
    color: black;
    // font-weight: bold;
    font-size: 1rem;

    &::before{
      content: 'Email: ';
      font-weight: bold;
    }
  }


  .phone{

    &::before{
      content: 'Phone: ';
      font-weight: bold;
    }

  }
}

.button{
  color: white;
  outline: 2px solid white;
  padding: 1rem 2rem;
  width: 250px;
}

.content-footer{
  color: black;
  // text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Work Sans';
  position: relative;

  &::after{
    content: '';
    border-bottom: 2px solid black;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
