@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

html {
  // background-color: lavenderblush;
  // margin: 0;
   scroll-behavior: smooth;

   @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
}

* { margin:0; padding:0; box-sizing:border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

p, address, div, li {
  font-family: 'Quattrocento Sans', sans-serif;
}

p{
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.overlay {
  position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  opacity: 0.9;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  background-image: linear-gradient(to bottom, #a8cfe6, #6fa2c8);
}




.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.narrow-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .narrow-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .narrow-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .narrow-container {
    width: 1100px;
  }
}

.single-page-content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .single-page-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .single-page-content {
    width: 691px;
  }
}
@media (min-width: 1200px) {
  .single-page-content {
    width: 691px;
  }
}

.placeholder{
  a{
    margin: 0;
  }
  h4{
      margin: 0;
  }

  .email{
    text-decoration: none;
    color: black;
    font-size: 1rem;

    &::before{
      content: 'Email: ';
      font-weight: bold;
    }
  }


  .phone{
    &::before{
      content: 'Phone: ';
      font-weight: bold;
    }
  }
}


.content-footer{
  color: black;
  // text-decoration: underline;
  text-transform: capitalize;
  font-family: 'Work Sans';
  font-weight: bold;
  position: relative;
  margin-top: 21px;
  // display: inline-block;

  &::after{
    content: '';
    border-bottom: 6px solid black;

    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
  }
}
