nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  // outline: 2px solid black;

  h1.brand{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 28px;
  }

  svg{
    position: relative;
  }

  .bars:hover{
    cursor: pointer;
  }

  li{
    list-style: none;
    margin-bottom: 0;
  }

  ul.mobile-nav{
    margin-bottom: 0;
    position: absolute;
    background-color: rgba(240, 240, 240, 0.95);
    border-radius: 3px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    color: black;
    z-index: 1;
    top: 40px;
    right: 1.5%;
    font-size: 1.2rem;

    li{
      padding: 1rem;
      border-bottom: 2px solid black;
      // font-weight: bold;
      &:last-child{
        border-bottom: none;
      }
    }



    li.practice-areas-li{
      position: relative;
      cursor: pointer;
      ul.practice-areas-dropdown{
        cursor: default;
        text-align: left;
        z-index: 1;
        background-color: rgba(228, 228, 228, 0.4);
        border-radius: 5px;
        margin-top: 1rem;

        li{
          display: block;
          border-bottom: none;
          padding: 0.5rem;
          list-style: circle;

          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
    .down {
      top: 46%;
    }
  }

  ul.mobile-nav-expanded{
    .down {
      top: 8%;
    }

  }

  .down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    display: inline-block;
    margin-left: 2px;
    position: absolute;

  }

  ul.desktop-nav{
    margin-bottom: 0;
    display: flex;

    li{
      // font-weight: bold;
      display: inline;
      // margin-right: 30px;
      font-size: 16px;
      text-align: center;
      padding: 0 1rem;
    }

    li.practice-areas{
      position: relative;
      margin-top: 0;
      // margin-right: 16px;
    }

    li.practice-areas:hover{
      cursor: pointer;
      text-decoration: underline;
      ul.practice-areas-dropdown{
        cursor: default;
      }
    }

    // i {
    //   border: solid black;
    //   border-width: 0 3px 3px 0;
    //   display: inline-block;
    //   padding: 3px;
    // }

    .down {
      top: 40%;
    }

    ul.practice-areas-dropdown{
      position: absolute;
      z-index: 1;
      background-color: white;
      border-radius: 5px;
      top: 30;
      left: 0;
      width: 200px;
      li{
        display: block;
        border-bottom: 2px solid black;
        padding: 1rem;

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}


.hero{
  width: 100%;
  background-position: top center;
  background-repeat: none;
  background-size: cover;
  // display: flex;


  .hero-content{
    // padding-left: 5%;
    text-align: center;
    margin-top: 1.7rem;
    h1.tag-line{
      font-weight: bold;
      font-size: 86px;
      color: #415169;
    }
    p.sub-tag-line{
      // max-width: 60%;
      // margin-left: 0;
      font-family: 'QuattrocentoSans', sans-serif;
      font-weight: bold;
      font-size: 37px;
      margin-bottom: 19rem;
      font-size: 1.5rem;
      color: #6fa2c8;
    }
  }
}

// .slideshow{
//   width: 100%;
//   background-position: top center;
//   background-repeat: none;
//   background-size: cover;
//   -webkit-animation-duration: 8s;
//   animation-duration: 8s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
//
//
//
//   h1{
//     margin-bottom: 30vh;
//   }
// }

// @-webkit-keyframes fade {
//    0% {opacity: 0;}
//    10% {opacity: 1;}
//    80% {opacity: 1;}
//    100% {opacity: 0;}
// }
//
// @keyframes fade {
//   0% {opacity: 0;}
//   10% {opacity: 1;}
//   80% {opacity: 1;}
//   100% {opacity: 0;}
// }
//
// .fade {
//    -webkit-animation-name: fade;
//    animation-name: fade;
// }
