@import "./variables.scss";

.container {
  max-width: 1300px;
  @include variableBPUp(1200px) {
    width: 1300px;
  }
  position: relative;
  nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 16px;

    .brand {
      margin-bottom: 3px;
      font-size: 16px;
      color: $navy;

      @media only screen and (min-width: 400px) and (max-width: 450px) {
        font-size: 20px;
      }

      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 24px;
      }

      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 28px;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 28px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 32px;
      }
      a {
        font-weight: bold;
        font-size: 16px;
        color: #415169;

        @media only screen and (min-width: 400px) and (max-width: 450px) {
          font-size: 20px;
        }

        @media only screen and (min-width: 450px) and (max-width: 600px) {
          font-size: 24px;
        }

        @media only screen and (min-width: 600px) and (max-width: 1000px) {
          font-size: 28px;
        }

        @media only screen and (min-width: 1000px) and (max-width: 1200px) {
          font-size: 28px;
        }

        @media only screen and (min-width: 1200px) {
          font-size: 32px;
        }
      }
    }

    button.navbar-toggler {
      border-radius: 0;
      padding: 0;
      position: absolute;
      right: 25px;
      top: 10px;
      border: 0px solid black;
      .navbar-toggler-icon {
        width: 32px;
        height: 32px;
        border: 0px;
      }
    }

    button.navbar-toggler.collapsed {
      border-radius: 0;
      padding: 0;
    }

    .nav-items {
      margin-bottom: 0;
      justify-content: flex-end;

      &.show,
      &.collapsing {
        background-color: white;
        border-radius: 4px;
        .navbar-nav {
          a.nav-link {
            @include mobile {
              display: block;
              padding: 10px 0 10px 20px;
            }
            @include tablet {
              display: block;
              padding: 10px 0 10px 20px;
            }
          }
        }

        .dropdown-menu.show {
          // background-color: white;
          border: 0;
          padding-left: 10px;

          a.dropdown-item {
            padding: 10px 0 10px 30px;
          }
        }
      }

      .navbar-nav {
        a.nav-link {
          color: black;
          opacity: 0.9;
          padding: 0 1rem;
        }
      }
    }
  }
}

.hero {
  width: 100%;
  background-position: center center;
  background-repeat: none;
  background-size: cover;

  .hero-content {
    text-align: center;
    margin-top: 10%;
    .tag-line {
      font-weight: bold;
      font-size: 38px;
      color: #415169;
      margin-top: 20%;

      @media only screen and (min-width: 400px) and (max-width: 450px) {
        font-size: 50px;
        margin-top: 23%;
      }

      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 54px;
        margin-top: 23%;
      }

      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 62px;
        margin-top: 23%;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 72px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 86px;
        margin-top: 15%;
        margin-bottom: 10px;
      }
    }
    .sub-tag-line {
      font-family: "QuattrocentoSans", sans-serif;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 60%;
      color: #6fa2c8;

      @media only screen and (min-width: 400px) and (max-width: 450px) {
        font-size: 26px;
        margin-bottom: 58%;
      }

      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 32px;
        margin-bottom: 55%;
      }

      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 40px;
        margin-bottom: 51%;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 40px;
        margin-bottom: 40%;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 46px;
        margin-bottom: 31%;
      }
    }
  }
}

.hero {
  .hero-content.dui {
    .tag-line {
      font-size: 40px;
      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 46px;
      }
      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 62px;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 72px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 86px;
      }
    }
  }

  .hero-content.felony {
    .tag-line {
      font-size: 40px;
      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 46px;
      }
      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 62px;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 72px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 86px;
      }
    }
  }

  .hero-content.juvenile {
    .tag-line {
      font-size: 40px;
      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 46px;
      }
      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 62px;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 72px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 86px;
      }
    }
  }

  .hero-content.municipal {
    .tag-line {
      font-size: 40px;
      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 46px;
      }
      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 62px;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 72px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 86px;
      }
    }
  }

  .hero-content.domestic {
    .tag-line {
      font-size: 40px;
      @media only screen and (min-width: 450px) and (max-width: 600px) {
        font-size: 46px;
      }
      @media only screen and (min-width: 600px) and (max-width: 1000px) {
        font-size: 62px;
      }

      @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        font-size: 72px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 86px;
      }
    }
  }
}
