@import "./variables.scss";

.single-page-hero {
  .hero-content {
    h1.tag-line {
      color: #415169;
      font-size: 72px;
      line-height: 80px;

      @include mobile{
        padding-top: 76px;
        font-size: 32px;
        line-height: 42px
      }
    }
  }
}

.single-page-hero {
  @include mobile {
    max-height: 362px;
  }

  .hero-content{
    .tag-line {


    }
  }
}

.single-page {
  padding-bottom: 90px;

  @include mobile {
    padding-top: 50px;
  }


  .single-page-content {
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .single-page-content {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .single-page-content {
      width: 691px;
    }
  }
  @media (min-width: 1200px) {
    .single-page-content {
      width: 691px;
    }
  }

  .header {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 1rem;
    color: #6fa2c8;
    @media only screen and (min-width: 650px) {
      font-size: 42px;
      margin-top: 107px;
    }
  }

  .body {
    font-size: 18px;
    line-height: 24px;

    p {
      margin-bottom: 15px;
      line-height: 28px;
    }
  }

}
