.why-us{
  .header{
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
    padding: 2.5rem;
  }
  .icon-section{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 5rem auto;
    .box{
      flex-basis: 50%;
        // outline: 2px solid black;

      svg{
        margin: 0 auto;
        width: 100%;
        // outline: 2px solid black;
      }

      .body{
        text-align: center;
      }
    }

  }
}
